.ip_header
{
	height:950px;
	position:relative;
}

#advantageTopImg
{
	width:1480px;
	position:absolute;
	top:-165px;
	z-index:-1;
}

.cartoon_center .list_title
{
	font-size:60px;
	color:#ffeb00;
}

.center_reason
{
	width:100%;
}

.center_reason table
{
	width:100%;
}

	.center_reason table img
	{
		border:1px solid #ffed00;
		border-radius:7px;
		margin:75px 75px 5px 50px;
	}

	.center_reason table p
	{
		font-size:20px;
		color:#fff;
		margin:0 125px 20px 60px;
		line-height:30px;
	}

	.center_reason table a
	{
		display:block;
		cursor:pointer;
		font-size:20px;
		color:#fff;
		background-color:#3185cb;
		border-radius:4px;
		box-shadow:0 4px #2b71ad;
		width:110px;
		height:30px;
		margin-left:195px;
		text-align:center;
		line-height:30px;
	}

.our_clients
{
	width:100%;
	margin-top:150px;
	margin-bottom:80px;
}

	.our_clients table
	{
		width:100%;
	}

		.our_clients table img
		{
			margin:70px 0 90px 80px;
		}

		

.certification
{
	width:100%;
	margin-bottom:64px;
}

	.certification table
	{
		width:100%;
		margin-top:85px;
	}

	.certification table img
		{
			margin:0 0 106px 212px;
			
		}

.choose_reason{
	width:1024px;
	margin:120px auto 0 auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.reason{
    width:446px;
	margin-bottom:80px;
	position:relative;
	transition:all 0.5s ease-out;
	opacity:0;
	top:80px;
}
.reason img{
	width:446px;
	height:270px;
	display: block;
	margin-bottom:10px;
}
.reason_text p{
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	margin-bottom:20px;
}
.reason_text a{
	display: block;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
	background-color: #3185cb;
	border-radius: 4px;
	box-shadow: 0 4px #2b71ad;
	width: 110px;
	height: 30px;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
}
.clients{
	margin-top:60px;
}
.clients_img{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:1170px;
	margin: 0 auto 100px auto;
}
.clients_img img{
	display: block;
}

.tImg{
	transition:all 1s ease-out;
	opacity:0;
}
	

			


