<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="MyOrm" type="MyOrm.MyOrmSection, MyOrm"/>
  </configSections>
  <appSettings>
    <add key="MaxLength" value="20480"/>
  </appSettings>
  <connectionStrings>
    <clear/>
   
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=47.98.115.254\sql2008r2,1433;Initial Catalog=CD_SuperStyle;User ID=sa;Password=Asai1212"/>
   <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MAC-ASAI\MSSQLSERVER08;Initial Catalog=CD_SuperStyle;User ID=ASAI;Password=asai1212" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" executionTimeout="3600"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>